<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <h3>Recipe</h3>

  <label>
    Name:
    <input type="text" formControlName="name" />

    <div formArrayName="ingredients">
      <div
        *ngFor="let ingredient of ingredientForms.controls; let i = index"
        [formGroupName]="i"
      >
        <mat-form-field class="xs">
          <input matInput placeholder="name" formControlName="name" />
        </mat-form-field>

        <mat-form-field class="xs">
          <input matInput placeholder="amount" formControlName="amount" />
        </mat-form-field>

        <mat-form-field class="sm">
          <input matInput placeholder="unit" formControlName="unit" />
        </mat-form-field>

        <button mat-raised-button color="warn" (click)="deleteIngredient()">
          Delete
        </button>
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="addIngredient()">
      Add Ingredient
    </button>

    <!--     <table mat-table [dataSource]="recipe.ingredients">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let ingredient">{{ ingredient.name }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> -->

    <input type="submit" value="Change" />
  </label>
</form>

<p>Form Status:</p>
<p>{{ recipeForm.status }}</p>
<p>{{ recipeForm.errors }}</p>
