<button mat-fab color="primary" [routerLink]="['/new']">
  <mat-icon>add</mat-icon>
</button>
<mat-grid-list
  [cols]="breakpoint"
  rowHeight="500px"
  (window:resize)="onResize($event)"
>
  <div *ngFor="let recipe of Recipes">
    <mat-grid-tile>
      <mat-card class="recipe-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ recipe.name }}</mat-card-title>
          <mat-card-subtitle>{{ recipe.shortDescription }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src='{{ recipe.imageUrl }}'
        />
        <mat-card-content>
          <p>
            {{ recipe.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/details', recipe.id]">DETAILS</button>
          <button mat-button [routerLink]="['/edit', recipe.id]">EDIT</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
